{{page-title "Message"}}

<button type="button" {{on "click" this.sendMessage}}>Send message</button>

<ul>
  {{#each this.messages.messages as |message|}}
    <li>{{message.createdAt}} {{message.topic}}: {{message.body}}</li>
  {{/each}}
</ul>

{{outlet}}