{{page-title "Temperature"}}
<ul>
{{#each this.messages.humidityMessages as |message|}}
  <li>{{message.createdAt}} {{message.body}}</li>
{{/each}}
</ul>
<ul>
  {{#each this.messages.temperatureMessages as |message|}}
    <li>{{message.createdAt}} {{message.body}}</li>
  {{/each}}
</ul>

{{outlet}}